<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sqlBackupLocation" value="C:\temp" />
    <add key="apiBaseUrl" value="http://localhost:56820/" />
    <add key="connectionString" value="Data Source=(localdb)\mssqllocaldb;Database=tnr_movies;Integrated Security=True" />
    <!--<add key="apiBaseUrl" value="http://aptera-pat-api.azurewebsites.net/"/>
    <add key="connectionString" value="Server=tcp:apteradbsvr.database.windows.net,1433;Initial Catalog=aptera-pat;Persist Security Info=False;User ID=aptera@m879c8i84n;Password=@p7er@201;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=90;" />-->
    <add key="uiBaseUrl" value="https://aptera-pat.azurewebsites.net/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
