<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="apiBaseUrl" value=""/>
    <Parameter name="connectionString" value=""/>
    <Parameter name="sqlBackupLocation" value=""/>
    <Parameter name="UIBaseUrl" value="" />
  </TestRunParameters>
</RunSettings>